.youtube-search {
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-radius: 8px;
    padding: 12px 15px 12px 15px;
}

.google-search {
    width: 350px;
    border: none;
    box-shadow: 0px 0px 2.5px 0.5px rgb(200, 200, 200);
    border-radius: 20px;
    padding: 10px 0px 10px 15px;
    margin: 0px 0px 0px 7px;
}

.linkedIn {
    font-family: Arial;
}

.linkedIn .text {
    margin-bottom: 0px;
    color: gray;
    font-family: Arial;
    font-size: smaller;
}

.linkedIn .email {
    width: 300px;
    margin-top: 5px;
    border-width: 1.32px;
    border-color: black;
    border-style: solid;
    border-radius: 3px;
}

.linkedIn .terms_and_condition {
    margin-top: 20px;
    font-size: 12.3px;
    color: gray;
}

.linkedIn .agree_button {
    background-color: rgb(63, 148, 233);
    border: none;
    color: white;
    border-radius: 20px;
    width: 308px;
    margin-top: 15px;
    padding: 10px 0px 10px 0px;
}

.twitter_text_box .cat_image {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    margin-right: 5px;
    vertical-align: middle;
}

.twitter_text_box .tweet_area {
    border: none;
    font-size: 18px;
    width: 300px;
    vertical-align: middle;
}

.twitter_text_box .tweet-button {
    border: none;
    background-color: rgb(63, 148, 233);
    color: white;
    padding: 9px 12px 9px 12px;
    border-radius: 50px;
    font-weight: 600;
    vertical-align: middle;
}